<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <title>DidRecorder</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-primary text-white fw-bold">
            <div class="container-fluid">
                <a href="." class="navbar-brand text-white">DidRecorder(Ctrl)</a>
                <span>Beta</span>
                <span id="today">today</span>
            </div>
        </nav>
        <p class="bg-warning" style="width: 100%; height: 2.5px;"></p>
        <div class="container mt-3">
            <div>
                <h3>Functions</h3>
                <a href="setRealName"><button class="btn btn-secondary">本名追加</button></a>
                <a href="selectGapDidsS"><button class="btn btn-secondary">●日前のログ</button></a>
            </div>
            <hr>
            <div>
                <h3>最新日記録(今日※)のログ</h3>
                <div>
                    <h6>出席者(フォーマット:ユーザーIDまたは本名)</h6>
                    <a href="download/today/attendees/csv">ダウンロード(csv)</a>
                    <pre th:text="${latestLogs[1]}">出席者</pre>
                </div>
                <div>
                    <h6>すべて(フォーマット:登録時間,ユーザーIDまたは本名,ログのタイプ,内容)</h6>
                    <a href="download/today/all/csv">ダウンロード(csv)</a>
                    <pre th:text="${latestLogs[0]}">すべて</pre>
                </div>
            </div>
            <hr>
            <div>
                <h3>最新から1日前記録(昨日※)のログ</h3>
                <div>
                    <h6>出席者(フォーマット:ユーザーIDまたは本名)</h6>
                    <a href="download/today/attendees/csv?gap=1">ダウンロード(csv)</a>
                    <pre th:text="${oneGapLatestLogs[1]}">出席者</pre>
                </div>
                <div>
                    <h6>すべて(フォーマット:登録時間,ユーザーIDまたは本名,ログのタイプ,内容)</h6>
                    <a href="download/today/all/csv?gap=1">ダウンロード(csv)</a>
                    <pre th:text="${oneGapLatestLogs[0]}">すべて</pre>
                </div>
            </div>
            <p class="text-warning">もし昨日記録されて、今日は記録していない場合は、昨日の記録が今日の記録として載ります。（これは、一昨日からでも一緒です）土曜日などで空いた場合は、ログの日付から確認してください。</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            let now = new Date();
            document.getElementById("today").innerHTML = now.getFullYear()+"/"+now.getMonth()+1+"/"+now.getDate();
        </script>
    </body>
</html>