<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <title>DidRecorder</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-primary text-white fw-bold">
            <div class="container-fluid">
                <a href="." class="navbar-brand text-white">DidRecorder(Ctrl)</a>
                <span>Beta</span>
                <span id="today">today</span>
            </div>
        </nav>
        <p class="bg-warning" style="width: 100%; height: 2.5px;"></p>
        <div class="container mt-3">
            <h3>ログ</h3>
            <form>
                <div class="mb-3">
                    <input type="number" name="gap" class="form-control" placeholder="最新から何日前(空欄:0日前)">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">確認</button>
                </div>
            </form>
            <div>
                <h3 th:text="${gap}+'日前のログ'"></h3>
                <div>
                    <h6>出席者(フォーマット:ユーザーIDまたは本名,出席時間)</h6>
                    <a th:href="'download/today/attendees/csv?gap='+${gap}">ダウンロード(csv)</a>
                    <pre th:text="${dids[1]}">出席者</pre>
                </div>
                <div>
                    <h6>すべて(フォーマット:登録時間,ユーザーIDまたは本名,ログのタイプ,内容)</h6>
                    <a th:href="'download/today/all/csv?gap='+${gap}">ダウンロード(csv)</a>
                    <pre th:text="${dids[0]}">すべて</pre>
                </div>
            </div>
            <p class="text-warning">もし1日前記録されて、0日前（例えば今日）には記録していない場合は、1日前の記録が0日前の記録として載ります。（これは、2日前からでも一緒です）土曜日などで空いた場合は、ログの日付から確認してください。</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            let now = new Date();
            document.getElementById("today").innerHTML = now.getFullYear()+"/"+now.getMonth()+1+"/"+now.getDate();
        </script>
    </body>
</html>