<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
    <head>
        <title>DidRecorder</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-primary text-white fw-bold">
            <div class="container-fluid">
                <a href="." class="navbar-brand text-white">DidRecorder(Ctrl)</a>
                <span>Beta</span>
                <span id="today">today</span>
            </div>
        </nav>
        <p class="bg-warning" style="width: 100%; height: 2.5px;"></p>
        <div class="container mt-3">
            <h3>本名設定</h3>
            <div th:switch="${result}">
                <p th:case ==-1 class="text-danger">内部エラーが発生しました。</p>
                <p th:case ==0 class="text-success">成功しました！</p>
                <p th:case ==1 class="text-danger">選択したユーザーは存在しません。</p>
                <p th:case ==2 class="text-danger">30バイト超過の名前は登録できません。</p>
                <p th:case ==3 class="text-danger">記録の改行は5行までです。</p>
            </div>
            <form method="post">
                <div class="mb-3">
                    <select class="form-select" name="userId" required>
                        <option disabled selected value="">ユーザー選択</option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" placeholder="設定する本名(30バイトまで)" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">設定</button>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            let now = new Date();
            document.getElementById("today").innerHTML = now.getFullYear()+"/"+now.getMonth()+1+"/"+now.getDate();
        </script>
    </body>
</html>